@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Major+Mono+Display&family=Rowdies:wght@700&display=swap');

:root {
    --bs-primary: #6cbeedff;
    --bs-primary-focus: rgb(74, 151, 196);
    --bs-primary-active: rgb(51, 128, 173);
    /* --bs-secondary: #2ec4b6ff;
    --bs-secondary-focus: rgb(24, 168, 153);
    --bs-secondary-active: rgb(10, 145, 132); */
    --bs-secondary: #efb9cbff;
    --bs-secondary-focus: rgb(210, 140, 163);
    --bs-secondary-focus: rgb(174, 93, 120);
    --bs-light: #ffffffff;
    --bs-dark: #243e36ff;
    font-family: 'Rowdies', sans-serif;
}

 .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
 }

 .btn-primary:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
 }

 .btn-primary:hover {
    background-color: var(--bs-primary-focus);
    border-color: var(--bs-primary);
 }

.btn-primary:active {
    background-color: var(--bs-primary-active) !important;
} 

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
 }

 .btn-secondary:focus {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
 }

 .btn-secondary:hover {
    background-color: var(--bs-secondary-focus);
    border-color: var(--bs-secondary);
 }

.btn-primary:active {
    background-color: var(--bs-primary-active) !important;
} 

.text-secondary {
    color: var(--bs-secondary) !important;
    font-family: 'Rowdies', sans-serif;
    text-shadow: 2px 2px #000000
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}