<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac9d0676ad.js" crossorigin="anonymous"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/search.css" rel="stylesheet">
    <script src="../js/watchlist.js" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
          <a class="navbar-brand" href="#">Moviebase</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Explore</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center gap-3">
          <p class="username-label" id="email-header"></p>
          <span
            aria-haspopup="true"
            aria-expanded="false"
            class="dropdown dropstart"
          >
            <i class="fa-solid fa-circle-user fa-lg" data-bs-toggle='dropdown' id="dropdown-menu"></i>
            <ul class='dropdown-menu' role="menu">
                <li class="dropdown-item" role="presentation">
                  <i class="fa-solid fa-film"></i>
                  <span><a href="/movie-collection">Movie Collections</a></span>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-item" role="presentation">
                  <i class="fa-solid fa-circle-right fa-lg"></i>
                  <span>Log Out</span>
                </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
    <div class="container mt-5 d-flex flex-wrap">
      <h1 class="ms-5 mt-5" style="color: black">Watch List</h1>
    </div>
    <div class="container d-flex flex-wrap" id="card-container">
      
    </div>
  </body>
</html>